# Data - ignore contents but keep structure
/data/raw/*
/data/interim/*

# Outputs - ignore contents but keep structure
/outputs/figures/*
/outputs/tables/*

# PyCharm
.idea/

# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc
*.pyo

# Environment
.env
*.env

# Exceptions
!**/.gitkeep
!/data/raw/land_registry/
!/data/raw/land_registry/land_reg_cols.txt